---

- name: download hotfix
  ansible.windows.win_get_url:
    url: '{{ hotfix.url }}'
    dest: '{{ hotfix_download_location }}\{{ hotfix.file }}'
  register: download_hotfix
  until: download_hotfix is success
  delay: 3
  retries: 5
  when: not use_raw_module

- name: download hotfix (using raw module)
  block:
    - name: download hotfix (webclient)
      ansible.builtin.raw: |
        {{ windows_ignore_cert_block if windows_ps_ignore_cert else windows_set_tls_block }}
        try {
            (New-Object -TypeName System.Net.WebClient).DownloadFile("{{ hotfix.url }}", "{{ hotfix_download_location }}\{{ hotfix_filename }}")
            if (-not (Test-Path "{{ hotfix_download_location }}\{{ hotfix_filename }}")) { exit 1 }
        } catch {
            exit 1
        }
      changed_when: false
      check_mode: false
      register: download_hotfix
      until: download_hotfix is success
      delay: 3
      retries: 5
      when: not use_bitsadmin

    - name: download hotfix (bitsadmin)
      ansible.builtin.raw: >
        bitsadmin /transfer downjob /download /priority normal
        "{{ hotfix.url }}"
        "{{ hotfix_download_location }}\{{ hotfix_filename }}"
      args:
        executable: cmd.exe
      changed_when: false
      check_mode: false
      register: download_hotfix
      until: download_hotfix is success
      delay: 3
      retries: 5
      when: use_bitsadmin
  when: use_raw_module
